body{
	background-image: url(../src_ico/21850-bubka-colba_vista.ico);
	background-size: 200px;
	/*background-size: cover;*/
}
.description_chimie{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
.titre_article{
	font-size: 50px;
	font-weight: bold;
	color: red;
}

.titre_section{
	margin: 20px 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: red;
}
.un_travail{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px 0;
	border-bottom: solid 1px lime;
	padding: 20px;
}
.nom_travail{
	font-size: 25px;
	font-weight: bold;
	color: green;
	margin: 10px 0;
}
.lieu, .date{
	color: steelblue;
}
.date{

}
.description_travail{
	text-align: center;
	margin: 10px 0;
	padding: 20px;
}
.description_generale_chimie{
	margin-top: 10px;
	background: blue;
	color: white;
}
.stages_et_travail{
	background: gold;
}
.diplomes_et_formations{
	background: gold;
}
.separateur{
	width: 100%;
	height: 5px;
	border-bottom: solid 5px red;
	margin: 10px;
}
#down_cv_pdf{
	margin-bottom: 10px;
}
#down_cv_pdf a{
	font-family: "Arial";
	font-size: 20px;
	font-weight: bold;
	color: red;
	text-decoration: none;
}