body{
	background: black;
	color: white;
	font-size: 20px;
	font-family: "Times New Roman";
}

/*---------------------------Navbar CSS-----------------------------------*/
nav{
	background: green;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	text-align: center;
	flex-wrap: wrap;
	height: auto;
	padding: 5px;
}
nav a{
	text-decoration: none;
	color: aqua;
	font-weight: bold;
	font-size: 25px;
}
nav a img{
	width: 30px;
}

.page_active{
	background: lime;
	color: red;
}
/*
@media only screen and (max-device-width: 320px) {
	nav a span {display: none;}
} 
@media only screen and (min-device-width: 321px) and (max-device-width: 820px){
	nav {height: 120px;}
	nav a {
		width: 50%;
		text-align: center;
	}
}
@media only screen and (min-device-width: 821px) {
	
}*/
/*----------------------------------------------------------------------*/
.description_generale{
	font-size: 30px;
	font-weight: bold;
	color: blue;
}
.description_generale h1{
	font-size: 50px;
	font-weight: bold;
	color: gold;
}
/*---------------------------Footer CSS-----------------------------------*/
footer{
	background: blue;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	text-align: center;
	flex-wrap: wrap;
	height: auto;
	padding: 5px;
}
footer a{
	text-decoration: none;
	color: lime;
	font-weight: bold;
	font-size: 25px;
}
footer a img{
	width: 50px;
}
/*----------------------------------------------------------------------*/