ul{
	background: red;
}
ul li{
	list-style-type: none;
}
li a{
	display: block;
	position: relative;
	overflow: hidden;
	height: 150px;
	padding: 15px;
}

li img{
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid;
}